<div class="mail-app">
  <div class="row top">
      <h1 class="logo zero-margin col-xs-6">
        <img src='http://core3.staticworld.net/images/article/2013/04/airmail_icon-100033684-gallery.png' width=50>
        myMail
      </h1>
      <div class="user-name col-xs-6 text-right">
        <user data="mainCtrl.sharedData"></user>
      </div>
    </div>
  
  <div class="main container zero-margin zero-padding">
    
    <div ng-if="!mainCtrl.sharedData.editProfile">
      <box-list data="mainCtrl.sharedData" change-box="mainCtrl.setSelectedBox(boxId)" class="col-sm-2 zero-padding"></box-list>
      <mail-list data="mainCtrl.sharedData" 
        save-message-state="mainCtrl.saveMessageState()" 
        save-message-state-and-list-update="mainCtrl.saveMessageStateAndListUpdate()" 
        class="col-sm-10"></mail-list>
    </div>
    
    <div ng-if="mainCtrl.sharedData.editProfile">
      <user-profile data="mainCtrl.sharedData" class="col-sm-10"></user-profile>
    </div>
    
  </div>
</div>