<div class="mail-manger text-right">
  <button title="Move to InBox" ng-click="moveToBox(1, $event)" ng-show="selectedBoxId !== 1"> 
    <span class="glyphicon glyphicon-open"></span>
  </button>
  
  <button title="Move to Archive" ng-click="moveToBox(2, $event)" ng-show="selectedBoxId !== 2">
    <span class="glyphicon glyphicon-save"></span>
  </button>
  
  <button title="Move to Spam" ng-click="moveToBox(3, $event)" ng-show="selectedBoxId !== 31">
    <span class="glyphicon glyphicon-fire"></span>
  </button>
  
  <button title="Move to Trash" ng-click="moveToBox(4, $event)" ng-show="selectedBoxId !== 4">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</div>